In [28]:
import pandas as pd
import pingouin as pg
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [29]:
df = pd.read_excel('BRED.xlsx')

In [30]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,2,4,3,3,3,3,1,4,4,...,5,3,5,5,1,2,3,2,2,2
1,NaN,3,5,2,3,2,3,2,4,5,...,2,2,3,3,1,4,3,1,2,4
2,NaN,2,3,2,1,1,3,1,4,5,...,3,1,3,3,4,5,2,1,4,3
3,NaN,1,3,1,4,2,3,3,2,3,...,2,2,3,3,1,4,5,1,3,5
4,NaN,4,3,1,3,3,4,4,3,2,...,2,2,4,5,3,2,4,2,2,4
5,NaN,1,4,1,3,2,2,1,3,5,...,3,3,4,5,4,4,4,1,3,3
6,NaN,1,4,3,3,1,2,1,4,4,...,2,2,5,4,5,4,4,1,2,4
7,NaN,1,5,3,1,4,4,1,3,5,...,2,3,3,5,5,1,5,2,2,3
8,NaN,4,4,4,4,5,4,5,5,2,...,4,5,3,3,2,5,5,1,4,2
9,NaN,4,4,4,5,3,4,3,4,4,...,4,5,4,5,2,5,4,4,4,3
10,NaN,5,5,4,3,3,4,5,5,2,...,4,3,5,3,5,4,5,2,3,5
11,NaN,4,1,4,5,4,3,4,4,5,...,3,4,5,4,4,4,3,5,3,5
12,NaN,5,3,3,4,3,3,3,5,5,...,4,5,4,5,2,5,5,4,5,2
13,NaN,5,3,5,5,4,4,3,4,2,...,4,5,5,5,4,4,3,5,4,3
14,NaN,4,5,3,5,5,4,5,4,5,...,4,5,5,4,3,4,5,3,4,5
15,NaN,5,5,4,4,5,3,4,5,4,...,3,5,4,5,4,4,5,4,5,5
16,NaN,5,5,5,5,4,4,3,5,4,...,4,5,5,5,5,5,5,3,5,4

In [31]:
df1_t = df.T

In [32]:
df1_t

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
Unnamed: 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 1,2.0,3.0,2.0,1.0,4.0,1.0,1.0,1.0,4.0,4.0,5.0,4.0,5.0,5.0,4.0,5.0,5.0
Unnamed: 2,4.0,5.0,3.0,3.0,3.0,4.0,4.0,5.0,4.0,4.0,5.0,1.0,3.0,3.0,5.0,5.0,5.0
Unnamed: 3,3.0,2.0,2.0,1.0,1.0,1.0,3.0,3.0,4.0,4.0,4.0,4.0,3.0,5.0,3.0,4.0,5.0
Unnamed: 4,3.0,3.0,1.0,4.0,3.0,3.0,3.0,1.0,4.0,5.0,3.0,5.0,4.0,5.0,5.0,4.0,5.0
Unnamed: 5,3.0,2.0,1.0,2.0,3.0,2.0,1.0,4.0,5.0,3.0,3.0,4.0,3.0,4.0,5.0,5.0,4.0
Unnamed: 6,3.0,3.0,3.0,3.0,4.0,2.0,2.0,4.0,4.0,4.0,4.0,3.0,3.0,4.0,4.0,3.0,4.0
Unnamed: 7,1.0,2.0,1.0,3.0,4.0,1.0,1.0,1.0,5.0,3.0,5.0,4.0,3.0,3.0,5.0,4.0,3.0
Unnamed: 8,4.0,4.0,4.0,2.0,3.0,3.0,4.0,3.0,5.0,4.0,5.0,4.0,5.0,4.0,4.0,5.0,5.0
Unnamed: 9,4.0,5.0,5.0,3.0,2.0,5.0,4.0,5.0,2.0,4.0,2.0,5.0,5.0,2.0,5.0,4.0,4.0
Unnamed: 10,2.0,2.0,4.0,5.0,1.0,5.0,5.0,5.0,1.0,3.0,1.0,5.0,3.0,4.0,5.0,5.0,5.0
Unnamed: 11,2.0,4.0,4.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,3.0,4.0,5.0,3.0,4.0,2.0
Unnamed: 12,2.0,3.0,4.0,4.0,4.0,2.0,2.0,3.0,2.0,4.0,5.0,4.0,4.0,4.0,5.0,5.0,4.0
Unnamed: 13,5.0,2.0,3.0,2.0,2.0,3.0,2.0,2.0,4.0,4.0,4.0,3.0,4.0,4.0,4.0,3.0,4.0
Unnamed: 14,3.0,2.0,1.0,2.0,2.0,3.0,2.0,3.0,5.0,5.0,3.0,4.0,5.0,5.0,5.0,5.0,5.0
Unnamed: 15,5.0,3.0,3.0,3.0,4.0,4.0,5.0,3.0,3.0,4.0,5.0,5.0,4.0,5.0,5.0,4.0,5.0
Unnamed: 16,5.0,3.0,3.0,3.0,5.0,5.0,4.0,5.0,3.0,5.0,3.0,4.0,5.0,5.0,4.0,5.0,5.0
Unnamed: 17,1.0,1.0,4.0,1.0,3.0,4.0,5.0,5.0,2.0,2.0,5.0,4.0,2.0,4.0,3.0,4.0,5.0
Unnamed: 18,2.0,4.0,5.0,4.0,2.0,4.0,4.0,1.0,5.0,5.0,4.0,4.0,5.0,4.0,4.0,4.0,5.0
Unnamed: 19,3.0,3.0,2.0,5.0,4.0,4.0,4.0,5.0,5.0,4.0,5.0,3.0,5.0,3.0,5.0,5.0,5.0
Unnamed: 20,2.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,4.0,2.0,5.0,4.0,5.0,3.0,4.0,3.0
Unnamed: 21,2.0,2.0,4.0,3.0,2.0,3.0,2.0,2.0,4.0,4.0,3.0,3.0,5.0,4.0,4.0,5.0,5.0
Unnamed: 22,2.0,4.0,3.0,5.0,4.0,3.0,4.0,3.0,2.0,3.0,5.0,5.0,2.0,3.0,5.0,5.0,4.0

In [33]:
pg.cronbach_alpha(data=df1_t)

(0.6499089413699918, array([0.401, 0.827]))